@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.Principal {

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  gap: 24px;

}

.ContainerT {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color:#809edf;
  border-radius: 20px;
  color: whitesmoke;
  flex-direction: column;

  width: 50rem;


}

.Txt {

  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  width: 37.5rem ;
  margin-bottom: 20px;

}

.title {

  color:whitesmoke ;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(173, 160, 42);
  border-radius: 10px;

}

.Himg {

  width: 31.25rem ;
  height: 15.625rem ;
  border-radius: 10px;

}

p{
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 100px;
  color:  whitesmoke;
}

.Fp{

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 100px;
  color:  whitesmoke;

}